body {
  min-width: 996px;
  overflow-y: hidden;
  background-color: white;
}

.gallery {
  margin: 16vh;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  overflow: hidden;
  margin-top: 24vh;

}

.galleryRail {
  display: flex;
  transition: all .3s ease;
  flex-direction: row;
  width: 100%;
  height: 49.7vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
}

.small figure {
  width: 25vh;
  height: 25vh;
  display: block;
}

.small figure img {
  width: 25vh;
  height: 25vh;
}

.big figure img {
  width: 50vh;
  height: 50vh;
}
